<div class="container mt-3">
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Trang chủ</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Sản phẩm</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Liên hệ</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Góp ý</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Hỏi đáp</a></li>
        </ul>
        <div class="col-12 col-lg-auto me-lg-auto mt-2 ">
          <input type="text" [(ngModel)]="searching" placeholder="Tìm sản phẩm" class="input form-control mr-sm-2">
        </div>
        <div class="col-12 col-lg-auto me-lg-auto mt-2 form-inline my-2 mylg-0">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                  data-bs-toggle="modal"
                  data-bs-target="#modalId">Giỏ hàng của bạn !
            <span *ngIf="itemcount()==0">Bạn chưa mua hàng</span>
            <span *ngIf="itemcount()!=0">Bạn đã mua {{ itemcount() }} hàng !</span>
          </button>
        </div>

      </div>
    </div>
  </header>

  <div class="row">
     </div>
  <div class="row">
    <!-- hiển thị sản phẩm dùng ngfor -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2 " *ngFor="let item of filterName()">
      <div class="card text-center border-primary" style="height: 100%;">
        <div class="card-header bg-primary text-light ">
          <!-- hiển thị tên-->
          {{ (item.name) }}
        </div>
        <div class="card-body">
          <!-- hiển thị hình -->
          <img [src]="item.image" alt=''>
        </div>
        <div class="card-footer text-danger">
          <!-- hiển thị giá -->
          {{ item.price | currency:"VND"   }}
          <br>
          <button class="btn btn-primary"
                  (click)="addCart(item)">Mua
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">
          Giỏ hàng
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body p-0">
        <table style="width: 100%;" class="text-center table" *ngIf="cart.length>0; else elseTemplate">
          <tr>
            <th>HÌNH</th>
            <th>SẢN PHẨM</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Tiền</th>
            <th></th>
          </tr>
          <!-- hiển thị giỏ hàng -->
          <tr *ngFor="let item of cart; let i=index">
            <td><img [src]="item.image" style="height: 100px;width:100px;" alt="{{item.name}}"></td>
            <td class="align-middle">{{ item.name }}</td>
            <td class="align-middle">{{ item.price | currency: "VND" }}
            </td>
            <td class="align-middle">
              <button class="btn btn-primary" (click)="increment(i)">+</button>
              {{ item.incarts }}
              <button class="btn btn-primary" [disabled]="item.incarts<=1" (click)="decrement(i)">-</button>
            </td>
            <td class="align-middle">{{ item.price * item.incarts | currency: "VND" }}</td>
            <td class="align-middle">
              <button class="btn btn-danger" (click)="Remove(i)">
                Xoá
              </button>
            </td>
          </tr>
          <tr>
            <th colspan="3">Tổng tiền</th>
            <th>{{ itemcount() }}</th>
            <th>{{ sumTotal() | currency:"VND" }}</th>
            <th>
              <button class="btn btn-danger" (click)="DeleteAll()">
                Xóa hết
              </button>
            </th>
          </tr>
        </table>
        <ng-template #elseTemplate>
          <div class="text-center">
          <h3>Giỏ hàng của bạn đang trống !</h3>
          <div data-bs-toggle="modal"
               data-bs-target="#modalId" class="btn btn-danger"> Mời bạn chọn mua !</div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- Optional: Place to the bottom of scripts -->
<script>
  new bootstrap.Modal(
    document.getElementById("modalId"),
    options,
  );
</script>

